html body {
background-color: rgb(0, 0, 0);
}

h1 {
color:white;
font-family: arial;
}

a {
display: inline-block;
background-color:grey;

border-radius: 8px;
border: 2px solid grey;
padding: 6px 12px;

font-weight: bold;
font-family: arial;
color: white;
text-decoration: none;
}

li{
font-family: arial;
color:white;
font-weight: bolder;
}

h3{
font-family: arial;
color:white;
}

p{
font-family: arial;
color:white;
font-weight:bold;
}