html body {
    background-color: rgb(112, 116, 113);
  }

h1 {
  color:Blue;
  font-family: Arial;
}

a {
  padding: 20px;
  border: 20px ;
}

li{
font-family: Arial;
color:Blue;
font-weight: bolder;
}

h4{
font-family: Arial;
color:Blue;
}