html body {
    background-color: rgb(112, 116, 113);
  }

h1 {
  color:Blue;
  font-family: Arial;
}

a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-style: 20px ;
}

li{
font-family: Arial;
color:Blue;
font-weight: bolder;
}

h4{
font-family: Arial;
color:Blue;
}