html body {
    background-color: rgb(0, 0, 0);
  }

h1 {
  color:white;
  font-family: Arial;
}

a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #007BFF;
}

li{
font-family: Arial;
color:white;
font-weight: bolder;
}

h4{
font-family: Arial;
color:white;
}

p{
font-family: Arial;
color:white;
}