html body {
    background-color: rgb(112, 116, 113);
  }

h1 {
  color:Blue;
  font-family: Arial;
}

a {
  padding-left: 3;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  border: black, 2px, solid;
}

li{
font-family: Arial;
color:Blue;
font-weight: bolder;
}

h4{
font-family: Arial;
color:Blue;
}