html body {
    background-color: rgb(33, 212, 79);
  }

h1 {
  color:Blue;
  font-family: Arial;
  font-weight: 200;
}

a {
  padding: 20px;
  text-decoration: none;
  border-top: 20px ;
  border-right: 20px ;
  border-bottom: 20px ;
  border-left: 20px ;
}