html body {
    background-color: rgb(0, 0, 0);
  }

h1 {
  color:white;
  font-family: Arial;
}

a {
  padding-left: 3;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  border: black, 2px, solid;
  color:white;
}

li{
font-family: Arial;
color:white;
font-weight: bolder;
}

h4{
font-family: Arial;
color:white;
}