html body {
    background-color: rgb(0, 0, 0);
  }

h1 {
  color:white;
  font-family: arial;
}

a {
  display: inline-block;
  background-color:grey;
  text-decoration: none;

  border-radius: 8px;
  border: 2px solid grey;
  

  font-weight: bold;
  font-family: arial;
  color: white;
}

li{
font-family: arial;
color:white;
font-weight: bolder;
}

h4{
font-family: arial;
color:white;
}

p{
font-family: arial;
color:white;
}