html body {
    background-color: rgb(112, 116, 113);
  }

h1 {
  color:Blue;
  font-family: Arial;
  font-weight: 200;
}

a {
  padding: 20px;
  text-decoration: none;
  border: 20px ;
  color:grey;
}